/* reset code and common code starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
}

html{
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* font-family: 'Italianno', cursive; */
    font-family: 'Roboto', sans-serif;
}

.main{
    background-color: #fff;
    width: 120rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

.text-justify{
    text-align: justify;
}
.text-white{
    color: white;
}
.section-heading{
    font-size: 8rem;
    text-align: center;
    font-family: 'Italianno', cursive;
}
.section-center{
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    min-height: 95vh;
    align-items: center;
    justify-content: space-evenly;
}

.btn{
    background-color: rgb(230, 159, 8);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
}
.btn:hover{
    border: 1px solid;
}
.btn:active {
    background-color: rgb(247, 188, 63);
    box-shadow: 0 5px rgb(194, 194, 194);
    transform: translateY(4px);
  }
/* reset code and common code ends here */

/* Header Starts here */ 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem 1rem;

    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}

.logo-figure{
    border: 1px solid #fff;
}
.logo{
    font-size: 4rem;
}

nav li{
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    transition: all 0.4s;
}
nav li:last-child{
    margin-right: 0;
}
nav li:hover{
    background-color: #1913d5;
    border-radius: 0.6rem;
}
.nav-link{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}
/* Header end here */ 

/* banner section start */
#blog-banner-section{
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

#blog-banner-section article{
    flex-basis: 50%;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

#blog-banner aside{
    flex-basis: 50%;
    text-align: center;
}

.banner-heading{
    display: inline-block;
    padding: 1rem;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    background-color: black;
    color: #fff;
}

.banner-description{
    font-size: 1.8rem;
}

.banner-img{
    width: 55rem;
    height: 50rem;
    border: 0.3rem solid;
}

/* banner section end */


/* blog-about starts here */
#blog-about{
    min-height: 95vh;
    padding: 5rem 1rem;
    background-color: #c4c4c4;
}
.card-container{
    display: flex;
    align-items: center;
}

.card{
    flex: 1;
    border-radius: 00.6rem;
    background-color: #a09d9d;
    padding: 3rem 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.1);
}
.card-header{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}
.card-description{
    padding: 0.4rem 0;
    text-align: justify;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}
.card-btn{
    align-self: center;
    width: 80%;
}
/* blog-about end */

/* Archives starts */
#archives{
    padding: 5rem 1rem;
    min-height: 98vh;
}

.archives-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    border-top: 0.1rem solid;
    border-bottom: 00.1rem solid;
}

.archives-container-lists{
    display: flex;
    text-align: center;
}

.archives-container-list{
    margin: 2rem;
}

.archives-img{
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    transition: transform 0.4s;
    cursor: pointer;
}
.archives-img:hover{
    transform: scale(1.1);
}

/* Archives end */


/* blog posts start */

#blog-posts{
    
}
.blog-posts-heading{
    margin-bottom: 5rem;
}
.blog-post{
    width: 70%;
    display: flex;
    margin: 1rem 0;
    box-shadow: 0.1rem 0.1rem 0.1rem #222, -0.1rem 0 0.1rem #222;
    transition: transform 0.4s;
}
.blog-post:hover{
    transform: scale(1.1);
}
.blog-post-aside{
    flex: 1;
}
.blog-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin-left: 2rem;
}
.blog-img{
    width: 100%;
    height: 100%;
}

.blog-heading{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.blog-sub-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.blog-description{
    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 1rem;
}
.blog-btn{
    width: 30%;
}
/* blog posts end */
/* Footer Section start*/
footer{
    background-color: black;
    padding: 1rem;
    color: #fff;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .copyright-text{
        font-size: 1.50rem;
        color: white;
    }
    .footer-icon{
        font-size: 2.5rem;
    }
/* Footer Section End  */

/* responsive start */
@media (max-width: 992px) {
    #blog-banner-section{
        flex-direction: column;
        align-items: center;     
    }
    #blog-banner-section article{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        margin-left: 13rem;
    }
    #blog-banner-section aside{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        margin-left: 10rem;
    }
    .card-container{
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}
@media (max-width: 768px) {
    html{
        font-size: 55.5%;
    }
    #blog-banner-section{
        width: 80%;
    }
    .card-container{
        width: 80%;
    }
    #archives{
        min-height: auto;
    }
    .blog-post{
        flex-direction: column;
        margin-bottom: 3rem;
        width: 80%;
    }
}
@media (max-width: 600px) {
    html{
        font-size: 48.5%;
    }
    header{
        flex-direction: column;
    }
    nav ul {
        padding-left: 2.5rem;
    }
    nav li{
        display: block;
        margin-right: 0;
        margin: 1rem 0;
    }

    #blog-banner-section{
        min-height: auto;
    }
    #blog-banner-section article{
        width: 90%;
    }
    
    .banner-img{
        max-width: 100%;
    }

    #blog-about{
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-container{
        width: 90%;
    }

    .archives-container-lists{
        flex-wrap: wrap;
    }
    .blog-post{
        width: 90%;
    }
    footer{
        flex-direction: column;
    }
    #menubar2{
        display: flex;
    }
}
@media (max-width: 400px) {
    .card-container{
        width: 95%;
    }
}
/* responsive end */